.eyebrow{
  opacity:0;
  display:none;
}
  h1{
    font-size: 48px!important;
    line-height: 40px!important;
    padding-bottom:20px;
  }
.group{
  background:#50505014!important;
}
.group:hover{
  background:#5050500d!important;
}