.eyebrow{
  opacity:0;
  display:none;
}
  h1{
    font-size: 48px!important;
    line-height: 40px!important;
    padding-bottom:20px;
  }

html[lg:[--scroll-mt:9.5rem]]{
  .bg-primary\/10 {
  background:#50505014!important;
}
.bg-primary{
  background:#50505014!important;
}
.group:hover{
  background:#5050500d!important;
}
}
